/* Font Face */
	@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/* HTMl Tags */
	*{
		box-sizing:border-box;
		
		vertical-align:text-top;
		
		font-family:montserrat,sans serif;
		color:#ffffff;
	}
	
	body{
		margin:0px;
		padding:0px;
		
		background-color: #000000;
		background-image: url('images/bckTile.jpg');
		background-repeat: repeat;
		background-position:top center;
	}
	
/* Form Styles */
	input, select, option{
		display:block;
		
		height:35px;
		width:100%;
		
		margin-bottom:3px;
		
		padding:5px;
		
		color:#444444;
	}
	
	input.inline{
		position: relative;
		display: inline;
		width: auto;
		
		margin-top: 10px;
	}
	
	input:disabled{
		display:none;
	}
	
	input[type='submit']{
		border:none;
		
		background:#bfbfbf;
		
		cursor:pointer;
		
		text-align:left;
		font-weight:700;
	}
	
	input[type='submit']:hover{
		background:#ffffff;
	}
	
	input[type='button']{
		cursor:pointer;
	}
	
	/* Label */
		label{
			display:inline;
			
			margin-top:5px;
			margin-bottom:3px;
		}
	
	/* Select */
		select{
			
		}
		
		option{
			margin-right:0px;
		}
	
	/* Textarea */
		textarea{
			display:block;
			
			width:100%;
			
			margin-top:25px;
			padding:5px;
			
			border: 1px solid #f15b22;
			
			background:none;
			
			resize:none;
		}
	
/* Table Styles */
	table{
		width: auto;
		
		border: none;
		border-collapse: collapse;
	}
	
	th{
		border: none;
		border-bottom: 5px solid #ffffff;
		
		padding: 10px;
		
		background-color: rgba(63, 57, 42, 0.6);
		
		text-align: left;
	}
	
	td{
		border: none;
		padding: 10px;
	}
	
	tr{
		background-color: rgba(0, 0, 0, 0.5);
	}
	
	tr:nth-of-type(even){
		background-color: rgba(0, 0, 0, 0.4);
	}
	
	tbody > tr:hover{
		cursor: pointer;
		background-color: rgba(150, 150, 150, 0.5);
	}
	
/* Paragraph Styles */
	p{
		display:block;
	}
	
	p, ul{
		cursor:inherit;
		
		margin-top:0px;
		margin-bottom:2px;
	}
	
	/* Font Weights */
		.fontWeightBold, b, label, th{
			font-weight:700;
		}
		
		.fontWeightNormal, p, body{
			font-weight:400;
		}
	
	/* Header Styles */
		h1{
			display:block;
			margin-top:0px;
			
			cursor:default;
		}
		
		h2{
			margin-top:0px;
			margin-bottom:10px;
			
			cursor:default;
		}
		
		h3{
			margin-top:0px;
			margin-bottom:5px;
			
			cursor:default;
		}
		
	/* List Styles */
		ul{
			padding-left:0px;
			
			margin-top:0px;
			
			list-style:none;
		}
		
		li{
			margin-top:5px;
			margin-left:7px;
			
			text-align:left;
			text-indent:-7px;
		}
		
		li:before{
			content:"- ";
		}
		
	/* Font Sizes */
		.fontSizeTitle, h1{
			font-size:26px;
		}
		
		.fontSizeSubtitle, h2{
			font-size:18px;
		}
		
		.fontSizeBig, h3, label{
			font-size:14px;
		}
		
		.fontSizeReg, input, body, p{
			font-size:12px;
		}
		
		.fontSizeSmall{
			font-size:10px;
		}
		
	/* Font Colours */
		.fontColourBlue, a:hover, a:active{
			color:#22a6f1;
		}
		
		.fontColourWhite{
			color:#ffffff;
		}
		
	/* Text Alignment */
		.textAlignCenter{
			text-align:center;
		}
		
		.textAlignJustify{
			text-align:justify;
		}
		
		.textAlignLeft{
			text-align:left;
		}
		
		.textAlignRight{
			text-align:right;
		}
		
/* No Wrap */
	.wrapNone{
		white-space:nowrap;
	}
	
	.wrapNormal{
		white-space:normal;
	}
	
/* Floats */
	.floatLeft{
		float:left;
	}
	
	.floatRight{
		float:right;
	}
	
/* Margin */
	.marginBottom3{
		margin-bottom:3px;
	}
	
	.marginTopHalf{
		margin-top:12.5px;
	}
	
	.marginTop25{
		margin-top:25px;
	}
	
	.marginRight25{
		margin-right:25px;
	}
	
	.marginBottom25{
		margin-bottom:25px;
	}
	
/* Cursors */
	.cursorPointer{
		cursor:pointer;
	}
	
	.cursorNormal{
		cursor:auto;
	}

/* Borders */
	.borderBottomWhite{
		border-bottom:1px solid #ffffff;
	}
	
/* Backgrounds */
	.backgroundColourBlue{
		background-color:#22a6f1;
	}

/* Animation */
	/* Fader */
		.fade{
			opacity:0;
			
			transition:opacity 0.25s ease-out;
		}
		
		.fadeParent:hover > .fade{
			opacity:1;
		}
		
/* SVG Styles */
	svg{
		position:relative;
		display:block;
		
		height:100%;
		width:100%;
		
		padding-top:50px;
		padding-bottom:50px;
	}
	
	/* Shapes */
		circle{
			fill: rgba(90, 90, 90, 1);
		}
		
		line{
			stroke: red;
			stroke-dasharray: 10px, 10px;
			stroke-linecap:  square;
			stroke-width: 2px;
		}
		
		path{
			fill: inherit;
			stroke: black;
			
			transition: fill 0.4s ease-out;
		}
		
	/* Text */
		text{
			fill: white;
			font-family:Segoe UI, sans-serif;
			text-anchor:start;
			
			transition:font-size 0.25s ease-out;
		}
		
		text.counter{
			font-size:18px;
			font-weight:700;
			text-anchor:middle;
		}
		
		text.label{
			font-size:12px;
			font-style:italic;
		}
	
	/* Groups */
		g{
			cursor: pointer;
			fill: rgba(150,150,150,0.60);
		}
		
		g:hover > .label{
			font-size:18px;
			font-weight:700;
		}
		
		g:hover > path{
			fill: rgba(210,210,210,0.6);
			stroke: white;
		}

/* Interface */
	/* HUD */
		#hud{
			position:absolute;
			display:flex;
			
			bottom:25px;
			left:50%;
			
			width:80%;
			
			margin-left:-40%;
			
			background:#ff0000;
		}
		
	/* Login */
		#login{
			position:absolute;
			
			min-height:50px;
			width:400px;
			
			top:50%;
			left:50%;
			
			margin-left:-200px;
			margin-top:-150px;
		}
		
		#message{
			position:relative;
			display:block;
			
			opacity: 0;
			
			transition:opacity 0.5s ease-out;
		}
		
		#message.show{
			opacity: 1;
			
			margin-top:10px;
			padding:10px;
			
			border:2px solid #880011;
			background:rgba(255,25,25,0.6);
			color:#880011;
		}
		
	/* Browser */
		#browser{
			position: relative;
			display: inline-block;
			
			left: 50%;
			margin-left:-25%;
			
			padding: 50px;
		}
		
	/* Content Boxes */
		.boxContainer{
			display: flex;
		}
		
		.box{
			flex: 1;
			
			padding:10px;
		}
		
	/* Overlay */
		#overlay{
			position: absolute;
			display: flex;
			
			align-items: center;
			justify-content: center;
			
			height:100%;
			width:100%;
			
			top: 0px;
			left: 0px;
			
			background: rgba(0,0,0,0.75);
			
			transition: opacity 0.5s ease-out;
		}
		
		#overlay.hide{
			display: none;
			opacity: 0;
		}
		
		#overlay.show{
			display: flex;
			opacity: 1;
		}
		
		#overlayContent{
			display: block;
			
			padding:50px;
			
			border-radius:25px;
			background:rgba(100, 100, 100, 1);
		}
		
	/* Menu */
		#menu{
			position:fixed;
			
			height:50px;
			width:50px;
			
			bottom:25px;
			right:25px;
			
			cursor: pointer;
			overflow:hidden;
			
			background-color: rgba(0, 0, 0, 0.5);
			background-image: url('images/settings.png');
			background-repeat: no-repeat;
			background-position: bottom left;
			
			transition: height 0.25s ease-out;
		}
		
		#menu:hover{
			height:150px;
		}
		
		#menu:hover > .button{
			opacity: 1;
		}
		
		.button{
			position:relative;
			display:block;
			
			height:50px;
			width:50px;
			
			opacity: 0;
			
			background-color: rgba(0, 0, 0, 0.5);
			
			transition: opacity 0.25s ease-out;
		}
		
		.button:hover{
			background-color: rgba(150, 150, 150, 0.5);
		}
	
/* @Media Tags */
	@media(max-width:1100px), (max-height:650px){
		/* SVG */
			text.label{
				fill: none;
			}
			
			text.counter{
				font-size: 36px;
			}
			
		/* HUD */
			#hud{
				position:relative;
				display:block;
			}
	}